on init
    chown system system /sys/class/leds/vibrator_single/vmax
    chown system system /sys/class/leds/vibrator_single/vmax_max

service vendor.vibrator /vendor/bin/hw/android.hardware.vibrator-service.s666ln
    class hal
    user system
    group system
